.wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 999px;
    padding: 8px 12px;
    background-color: white;
    color: black;;
    width: 100%;
    max-width: 400px;
}

.icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}