.dropdownItemLogo {
    flex-shrink: 0; /* 로고 크기 고정 */
    width: 40px;
    height: 40px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownItemContent {
    flex-grow: 1; 
}